@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");
.main-bg {
  background-image: url("/images/bg1.jpg");
}

.bot-bg {
  background: url("/images/bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
}

body {
  padding: 0;
  min-height: 100vh;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  color: white;
}

a {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 34px;
  z-index: 35;
}
a .fa {
  color: #44c540;
  font-size: 20px;
}

.page-link {
  border: none;
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
}
.page-link.active {
  background: linear-gradient(90deg, #07bad9, #13f11f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-link:focus {
  box-shadow: none;
}

b {
  margin-bottom: 20px;
}

.btn-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 56px;
  color: white;
  background: linear-gradient(0deg, #095d60 0%, #24911e 100%);
  background-image: -moz-linear-gradient(0deg, #095d60 0%, #24911e 100%);
  background-image: -webkit-linear-gradient(0deg, #095d60 0%, #24911e 100%);
  background-image: -ms-linear-gradient(0deg, #095d60 0%, #24911e 100%);
  margin-bottom: 16px;
}
.btn-color:hover {
  text-decoration: none;
  color: white;
}
.btn-color img {
  margin-left: 18px;
}

.top-info {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-bottom: 0;
}
.top-info a {
  text-decoration: underline;
}

.top-mid {
  width: 80%;
}

.top-img {
  margin-bottom: 25px;
}

.top-box {
  font-size: 18px;
  color: #f2f2f2;
  line-height: 1.5;
  text-align: center;
  width: 280px;
}

.container-title {
  width: max-content;
  padding: 0;
}
.container-title h1 {
  margin-bottom: 50px;
  font-size: 41px;
  font-family: "Open Sans", sans-serif;
  color: #32df28;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.22;
  background: linear-gradient(90deg, #07bad9, #13f11f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-title h4 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  background: linear-gradient(90deg, #07bad9, #13f11f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-160 {
  margin-bottom: 160px;
}

.img-shadow img {
  box-shadow: 0px 3px 68px 0px rgba(7, 25, 42, 0.59);
}

.white-box {
  background-color: white;
  width: 250px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0;
}
.white-box img {
  justify-self: center;
  margin: 0;
}

footer {
  padding: 0 0 60px 0;
  color: white;
}
footer a {
  cursor: pointer;
  text-decoration: none;
}
footer a:hover {
  color: #07bad9;
  transition: all 0.5s;
  text-decoration: none;
}

@media (min-width: 992px) {
  .col-3:nth-child(5) .white-box img {
    width: 100%;
  }

  .col-3:nth-child(6) .white-box img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
